<% provide(:next, "feedback") %>
<% provide(:rb, "Next") %>
<h1>Extra Question</h1>
<p>Listen to the recording:</p>
<div id="leftbox">
<audio controls>
  <source src="/turismo.m4a" type="audio/mpeg">
</audio>
</div>
<div id="rightbox">
	<camera id='four' data-app-id='a-ac314730-f281-0132-1c35-22000a9e3691' data-sources='record' style='width:300px;height:240px;' data-pre-roll-length='20'></camera>
</div>

</object>
