<% provide(:next, "three") %>
<% provide(:rb, "Next") %>
<h1>Question 2</h1>
<p>Click on the audio button to listen to the question:</p>
<div id="leftbox">
	<img class="imag" src="/assets/familydinner.png">
</div>


<div id="rightbox">
	<camera id='one' data-app-id='a-ac314730-f281-0132-1c35-22000a9e3691' data-sources='record' style='width:300px;height:240px;' data-pre-roll-length='20'></camera>
</div>
